<!doctype html>
<html>
	<head>
		<title>Round Table</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script src="/js/head.min.js"></script>
		<script>
			head.js(
				{jquery: '/js/jquery.min.js'},
				{bootstrap: '/js/bootstrap.min.js'}
			)
		</script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Round Table</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="/">Home</a></li>
							{% if user %}
							<li><a href="/presentations">My Presentations</a></li>
							{% endif %}
						</ul>
						{% if user %}
						<ul class="nav pull-right">
							<li><a href="/auth/logout">Logout</a></li>
						</ul>
						{% endif %}
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div style="height: 45px;"></div>
		{% block bodyContent %}{% endblock %}
	</body>
</html>