{% extends 'common/layout.html' %}

{% block bodyContent %}
	<div class="container">
		<div class="hero-unit">
			<h1>
				Round Table
				<small>Present Better</small>
			</h1>
			<p>
				The traditional presentation deck brings a lot of problems along with it.  Viewers have to wait to ask questions or interrupt and disrupt everyone.  We think that's wrong, and we aim to change it.
			</p>
			{% if !user %}
			<div class="btn-group">
				<a href="/auth/login" class="btn btn-primary btn-large">Login</a>
				<a href="/auth/register" class="btn btn-inverse btn-large">Register</a>
			</div>
			{% endif %}
		</div>

		<div class="row">
			<div class="span3">
				<h5>1. Run your presentation</h5>
				<p>
					HTML5 presentations are just as flexible and powerful as any big-box slide-deck software, but you can play them anywhere you have a browser, and you need no additional licenses.  Web-tech is free.
				</p>
			</div>
			<div class="span3">
				<h5>2. Empower your viewers</h5>
				<p>
					Your viewers can ask questions about anything in the presentation without disrupting you or the other viewers.  More importantly, they <strong>don't</strong> have to <em>wait till the end</em> and risk forgetting their question either.
				</p>
			</div>
			<div class="span3">
				<h5>3. Control the conversation</h5>
				<p>
					Just because someone asked a question doesn't mean it needs an answer immediately.  Sometimes you're "getting to that in a minute" or it's in the next slide.  Display any question at any time.
				</p>
			</div>
			<div class="span3">
				<h5>4. Present Better</h5>
				<p>
					Not only are your presentations instantly better, but you gain <strong>valuable</strong> feedback on what you need to add, or things you need to change.
				</p>
			</div>
		</div>
	</div>


{% endblock %}