{% extends 'common/layout.html' %}

{% block bodyContent %}
	<div class="container">
		<div class="hero-unit">
			<h1>
				Round Table
				<small>Present Better</small>
			</h1>
			<p>
				The traditional presentation deck brings a lot of problems along with it.  Viewers have to wait to ask questions or interrupt and disrupt everyone.  We think that's wrong, and we aim to change it.
			</p>
			<div class="btn-group">
				<a href="/auth/login" class="btn btn-primary btn-large">Login</a>
				<a href="/auth/register" class="btn btn-inverse btn-large">Register</a>
			</div>
		</div>

		// more intro copy here

	</div>


{% endblock %}